// fonts
$fontSize: 1.125rem;
$fontWeight: ("regular": 400,
    "medium": 500);

// color
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);

// breakpoints
$breakpoints: ("mobile": 375px,
    "tablet": 768px,
    "desktop": 992px);