@use '../init/variables'as *;

.features {
    padding: 3.125rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        padding: 2.8125rem 5.3125rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 0.8125rem;
    }

    &__text {
        text-align: center;
        margin-bottom: 1.5rem;
        max-width: 30rem;

        @media (min-width: 768px) {
            margin-bottom: 3rem;
        }
    }

    &__feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-evenly;
            border-bottom: 1px solid $grayishBlue;
            padding: 0 5rem;
            margin-bottom: 2.5rem;
        }
    }

    &__feature>li {
        padding: 1.4rem 0;
        color: $grayishBlue;
        border-top: 1px solid $grayishBlue;
        cursor: pointer;
        position: relative;
        transition: all .3s ease-out;

        @media (min-width: 768px) {
            border: none;
            margin-right: 10rem;
        }
    }

    &__feature>li:hover {
        color: $softRed;
    }

    &__feature>li:last-child {
        border-top: 1px solid $grayishBlue;
        border-bottom: 1px solid $grayishBlue;
        margin-bottom: 2.5rem;

        @media (min-width: 768px) {
            border: none;
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    &__feature>li.change::after {
        content: '';
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background-color: $softRed;
        height: 3px;

        @media (min-width: 768px) {
            width: 100%;
        }
    }
}

.features__exps {
    &>.exp {
        flex-direction: column;
        align-items: center;
        display: none;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &>.exp:first-child {
        display: flex;
    }
}

.exp {
    opacity: 0;
    animation: fadeIn .5s forwards;
    position: relative;

    &__shape {
        width: 90%;
        height: 40%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background-color: $softBlue;
        position: absolute;
        top: 10%;
        left: -10%;
        z-index: -1;

        @media screen and (min-width: 400px) {
            height: 50%;
        }

        @media screen and (min-width: 500px) {
            height: 50%;
        }

        @media screen and (min-width: 600px) {
            height: 52%;
            width: 110%;
            left: -22%;
        }

        @media screen and (min-width: 768px) {
            width: 90%;
            height: 65%;
            left: -20%;
            top: 30%;
        }

        @media screen and (min-width: 900px) {
            width: 70%;
            height: 75%;
            top: 40%;
        }

        @media screen and (min-width: 1440px) {
            left: -30%;
        }
    }

    &__img {
        margin-bottom: 2.8125rem;
        max-width: 80%;

        @media (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 4rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
            align-items: flex-start;
        }

        &>h3 {
            font-size: 1.5rem;
            font-weight: map-get($fontWeight, "medium");
            margin-bottom: 1rem;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }
        }

        &>p {
            font-size: 0.9875rem;
            line-height: 1.75;
            text-align: center;
            color: $grayishBlue;
            margin-bottom: 1rem;
            max-width: 24rem;

            @media (min-width: 768px) {
                text-align: left;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}