@use '../init/variables'as *;

.hero {
    padding: 1.5625rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        padding: 3.4375rem 5.3125rem;
        align-items: center;
        justify-content: space-between;
    }

    &__shape {
        width: 85%;
        height: 25%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: $softBlue;
        position: absolute;
        top: 17%;
        right: 0;
        z-index: -1;

        @media screen and (min-width: 400px) {
            height: 30%;
        }

        @media screen and (min-width: 500px) {
            height: 40%;
        }

        @media screen and (min-width: 600px) {
            height: 50%;
        }

        @media screen and (min-width: 768px) {
            width: 60%;
            height: 45%;
            top: 30%;
        }

        @media screen and (min-width: 920px) {
            width: 50%;
            height: 40%;
            top: 30%;
        }

        @media screen and (min-width: 1200px) {
            width: 45%;
            height: 40%;
            top: 30%;
        }

        @media screen and (min-width: 1200px) {
            width: 40%;
            height: 40%;
            top: 30%;
        }

        @media screen and (min-width: 1400px) {
            width: 35%;
            height: 40%;
            top: 30%;
        }
    }

    &__image {
        order: 1;
        margin-bottom: 1.875rem;
        max-width: 100%;

        @media (min-width: 768px) {
            order: 2;
            margin-bottom: 0;
            max-width: 35rem;
            height: auto;
        }
    }

    &__content {
        order: 2;

        @media (min-width: 768px) {
            order: 1;
            text-align: left;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
            text-align: left;
            max-width: 25rem;
        }
    }

    &__text {
        text-align: center;
        margin-bottom: 1.25rem;
        max-width: 30rem;

        @media (min-width: 768px) {
            text-align: left;
        }
    }

    &__button {
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            justify-content: start;
        }
    }
}