.footer {
    padding-top: rem(300);
    background-color: $darkBlueFooter;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    &__logo {
        margin-bottom: rem(45);
    }

    &__image {
        width: rem(20);
        height: rem(20);
        margin-right: rem(20);
    }
}

.email {
    position: absolute;
    background-color: $darkBlueIntro;
    padding: rem(50) rem(30) rem(40) rem(30);
    border-radius: 10px;
    width: 70%;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 25%);
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: .2);

    @include breakpoints-up(xlarge) {
        max-width: rem(650);
    }

    &__title {
        text-align: center;
        margin-bottom: rem(30);
    }

    &__body {
        text-align: center;
        margin-bottom: rem(30);
    }

    &__form {
        display: flex;
        flex-direction: column;

        @include breakpoints-up(xlarge) {
            flex-direction: row;
            justify-content: space-between;
        }

        input {
            margin-bottom: rem(25);

            @include breakpoints-up(xlarge) {
                margin-bottom: 0;
                margin-right: rem(30);
                flex: 1
            }
        }
    }
}

.about {

    @include breakpoints-up(xlarge) {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        margin-bottom: rem(50);
        align-items: flex-start
    }

    &__col1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(25);

        @include breakpoints-up(xlarge) {
            margin-bottom: 0;
            max-width: rem(350);
        }
    }

    &__col2 {
        display: flex;
        flex-direction: column;

        &--telp,
        &--email {
            display: flex;
            margin-bottom: rem(25);
        }

        margin-bottom: rem(40);

        @include breakpoints-up(xlarge) {
            margin-bottom: 0;
        }
    }

    &__col3 {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(20);

        &>a {
            margin-bottom: rem(20);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__col4 {
        display: flex;
        flex-direction: column;

        &>a {
            margin-bottom: rem(25);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        margin-bottom: rem(55);

        @include breakpoints-up(xlarge) {
            margin-bottom: 0;
        }
    }

    &__col5 {
        display: flex;
        justify-content: center;
        margin-bottom: rem(40);

        @include breakpoints-up(xlarge) {
            margin-bottom: 0;
        }

        .icon {
            width: rem(30);
            height: rem(30);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $white;
            border-radius: 50%;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: rem(20);
            }

            &:hover {
                border: 1px solid rgb(126, 126, 126);
            }

            &:hover i {
                color: rgb(126, 126, 126);
            }
        }
    }
}